@import './theme.css'; /* By Sheaf.dev */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


 @custom-variant dark (&:where(.dark, .dark *)); /* By Sheaf.dev */ 
